# LOCAL (uv run) — uncomment these
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/nanite
REDIS_URL=redis://localhost:6379/0

# DOCKER (docker compose up) — uncomment these
# DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/nanite
# REDIS_URL=redis://nanite_redis:6379/0

SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
